* {
  box-sizing: border-box;
}

body {
  background: #23252c;
  margin: 0;
}

.container {
  background-color: #1a1b21;
  color: white;
  margin: 1rem auto;
  width: 30%;
}

.info {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile {
  border-radius: 10px 10px 0px 0px;
  width: 431px;
  height: 410px;
}

.profile-name {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
}

.profile-title {
  font-weight: 400;
  font-size: 13.8px;
  line-height: 15px;
  color: #f3bf99;
  margin-top: -0.5rem;
}

.profile-website {
  font-weight: 400;
  font-size: 11.24px;
  line-height: 150%;
  color: #f5f5f5;
  margin-top: -0.5rem;
}

.profile-contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
}

.top-btn {
  display: flex;
  justify-content: space-between;
  width: 115px;
  align-items: center;
  border: none;
  padding: 9px 18px;
}
.profile-contact-email {
  /* white */
  background: #ffffff;
  /* gray/300 */
  border: 1px solid #d1d5db;
  box-sizing: border-box;
  /* shadow/sm */
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 6px;

  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height, or 114% */
  /* gray/700 */
  color: #374151;
}

.profile-contact-linkedin {
  background: #5093e2;
  /* shadow/sm */
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 6px;

  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height, or 114% */
  color: #ffffff;
}

.about,
.interests {
  padding: 0 40px;
  justify-content: center;
  align-items: center;
}

.about-title,
.interests-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  /* or 24px */
  color: #f5f5f5;
}

.about-experience,
.interests-items {
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  /* or 15px */
  color: #dcdcdc;
}

.footer {
  display: flex;
  background: #161619;
  border-radius: 0px 0px 10px 10px;
  justify-content: center;
  align-items: center;
}

.icons {
  display: flex;
  justify-content: space-between;
  width: 45%;
  list-style-type: none;
  padding: 0;
}
